# dependencies
/node_modules/

# Next.js build output
/.next/
/out/

# local environment files
.env*
!.env.example

# local logs and editor files
*.log
.DS_Store

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Netlify local state
/.netlify/
